body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('petrol.gif');
    background-size: cover; /* Makes sure the GIF covers the entire background */
    background-repeat: no-repeat; /* Prevents the GIF from repeating */
    background-position: center center; /* Centers the GIF in the viewport */
    margin: 0;
    padding: 0;
}

.social-icons {
    position: absolute;
    top: 20px;
    left: 20px;
}

.social-icons .icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.social-icons .icon:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.image-section img {
    max-width: 300px;
    border-radius: 8px;
}

.purchase-section {
    margin-left: 20px;
}

.purchase-section h2 {
    margin-bottom: 10px;
}

.purchase-section form {
    display: flex;
    flex-direction: column;
}

.purchase-section label,
.purchase-section input,
.purchase-section button {
    margin-bottom: 10px;
}

#confirmation-message {
    margin-top: 20px;
    font-weight: bold;
    color: green;
}